.add-task-container {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.add-task-container input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  max-width: 40%;
}

.add-task-container .add-task-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
}

.add-task-container .add-task-button:hover {
  background-color: #218838;
}

@media screen and  (max-width: 768px){
  h1{
    font-size: 20px
  }
}